@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

/* Reset css --- */
* {padding:0px; margin:0px; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased;}
*:focus {outline: 0;}
html, body{ overflow-x: hidden;}
body{ margin:0; padding:0; font-size:16px !important; font-family: 'Roboto Condensed', sans-serif;}
ol, ul {list-style: none; margin:0; padding:0;}
:focus {outline: 0;}
a, a:link {text-decoration: none; outline:none;}
p { padding:2px 0; margin:0;}
.clear {clear:both;}
a {color:#796AB8; text-decoration:none;}
a:hover {text-decoration:none; color:#0c528f;}
a:focus{outline:none !important;}
:hover{transition: all 0.5s ease; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease;}
h1, h2, h3, h4, h5, h6 { margin:0; padding:0; font-weight:normal;}
img {border:0; max-width:100%; height:auto;}
::-webkit-input-placeholder {opacity:1; color: var(--color-grey);}
:-moz-placeholder{opacity:1; color: var(--color-grey);}
::-moz-placeholder{opacity:1; color:var(--color-grey);}
:-ms-input-placeholder{opacity:1; color: var(--color-grey);}
/* --- Reset css */

.container{ max-width: 1300px;}
.full-link{ position: absolute; width: 100%; height: 100%; left: 0; top: 0;}
.themeBtn{ border: none; background: linear-gradient(90deg, #E1C75C -1.39%, #C2A013 102.43%); border-radius: 10px; height: 50px; display: inline-flex; align-items: center; justify-content: center; font-size: 22px; color: #FFF; text-transform: uppercase; padding: 0 40px; transition: all 0.5s ease;}
.themeBtn:hover{ color: #FFF; opacity: 0.7;}
.themeBtn.dark{ background: linear-gradient(90deg, #9D90D5 7.42%, #796AB8 79.21%);}
.themeBtn.blue{ background: linear-gradient(90deg, #9D90D5 7.42%, #796AB8 79.21%);}

.tabNav::-webkit-scrollbar { display: none;}
.tabNav { -ms-overflow-style: none; scrollbar-width: none; }

/* Header */
.site-header{ background: #9585d8;}
.header-main{ color: #FFF; display: flex; align-items: center; justify-content: space-between; height: 55px; background: rgba(63, 63, 63, 0.26); border-radius: 0px 0px 10px 10px; padding: 0 22px 0 10px;}
.header-ratings{ display: flex; align-items: center;}
.header-ratings p{ margin: 0; padding: 0;}
.header-ratings p span{ opacity: 0.75;}
.star{ color: #CEAF2E; font-size: 25px; display: flex; align-items: center; padding-right: 18px;}
.star span{ display: inline-block; margin-left: 7px; transform: translateY(-2px);} 

.header-contact{ font-size: 17px; display: flex; align-items: center;}
.header-email a{ display: flex; align-items: center; color: #FFF;}
.header-email a:hover{ opacity: 0.7;}
.header-email span{ display: inline-block; font-size: 25px; transform: translateY(-2px); margin-left: 22px;}

.header-phone{ margin-left: 30px;}
.header-phone a{ display: flex; align-items: center; color: #FFF;}
.header-phone a:hover{ opacity: 0.7;}
.header-phone span{ display: inline-block; font-size: 25px; transform: translateY(-2px); margin-left: 20px;}

.header-cart{ display: flex; align-items: center; margin-left: 25px; padding-left: 25px; position: relative;}
.header-cart::after{ content: ''; position: absolute; left: 0; top: 50%; margin-top: -12px; width: 2px; height: 24px; background: rgba(255, 255, 255, 0.5); border-radius: 5px;}
.cartIcon{ font-size: 24px; transform: translateY(-3px);}
.cart-bubble{ width: 25px; height: 25px; background: linear-gradient(90deg, #E1C75C -1.39%, #C2A013 102.43%); border-radius: 5px; position: relative; display: flex; align-items: center; justify-content: center; font-size: 13px; margin-left: 8px; position: relative;}
.cart-bubble::after{ content: ''; position: absolute; left: -5px; top: 7px; width: 0; height: 0;  border-top: 5px solid transparent; border-bottom: 5px solid transparent;  border-right:5px solid #E8C229; }

.header-nav{ display: flex; justify-content: space-between; margin-top: 20px; position: relative;}
.site-nav ul li{ display: inline-block; margin-left: 18px;}
.site-nav ul li:first-child{ margin-left: 0;}
.site-nav ul li a{  font-size: 17px; color: rgba(255, 255, 255, 0.5); text-transform: uppercase; transition: all 0.5s ease;} 
.site-nav ul li a.active, .site-nav ul li a:hover{ color: #FFF;}

.header-nav .header-ratings{ display: none;}
.header-nav-bottom{ position: fixed; width: 100%; left: -100%; bottom: 0; transition: all 0.5s ease;}
.header-nav.act .header-nav-bottom{ left: 0;}
.headerSocial{ text-align: center; margin: 0 0 8px 0;}
.headerSocial a{ display: inline-block; color: #FFF; margin: 0 8px; font-size: 30px;}
.header-copy{ text-align: center; font-size: 12px; color: #FFF; padding: 8px 0;}

.mobClick { display: none; width: 28px; height: 16px; -webkit-transform: rotate(0deg); transform: rotate(0deg); -webkit-transition: .5s ease-in-out; transition: .5s ease-in-out; cursor: pointer;}
.mobClick span { position: absolute; opacity: 1; left: 0; width: 28px; height: 3px; background: #FFF; display: block; -webkit-transform: rotate(0deg); transform: rotate(0deg); -webkit-transition: .25s ease-in-out; transition: .25s ease-in-out; border-radius: 6px;}
.mobClick span:nth-child(2) { top: 7px;}
.mobClick span:nth-child(3) { top: 14px;}
.mobClick.open span:nth-child(1) { top: 7px; -webkit-transform: rotate(135deg); transform: rotate(135deg);}
.mobClick.open span:nth-child(2) { opacity: 0; left: -20px;}
.mobClick.open span:nth-child(3) { top: 7px; -webkit-transform: rotate(-135deg); transform: rotate(-135deg);}
.logo-sm{ display: none;}
.slide-img-main.mob{ display: none;}


/*  */
.hero-banner{ height: 600px; background: linear-gradient(to bottom, rgba(150,134,217,1) 0%,rgba(121,106,184,1) 99%); position: relative;}
.hero-banner::after{ content: ''; position: absolute; left: 0; bottom: 0; width: 100%; height: 162px; background: url('./images/bg.png') top center no-repeat; background-size: 100% 100%;}
.slide-txt{ height: 600px; color: #FFF; padding-bottom: 140px; position: relative; z-index: 5;}
.slide-txt .container, .slide-txt .row{ height: 100%;}
.slide-txt h2{ font-weight: 700; font-size: 75px; text-transform: uppercase; line-height: 70px;}
.slide-txt p{ font-size: 18px; line-height: 21px; font-weight: 300; padding-top: 15px;}
.slide-btn{ margin-top: 50px; display: flex;}
.slide-btn a{ display: flex; align-items: center; justify-content: center; width: 250px; height: 50px; background: #FFFFFF; border-radius: 10px; font-weight: 700; font-size: 18px; text-transform: uppercase; color: #796AB8;  }
.slide-btn a:hover{ opacity: 0.8;}
.slide-btn a.dark{ background: linear-gradient(90deg, #E1C75C -1.39%, #C2A013 102.43%); color: #FFF; margin-left: 25px; }

.slide-single{ position: relative;}
.slide-img{ width: 100%; height: 600px; position: absolute; left: 0; top: 0;}
.slide-img .container{ height: 100%; position: relative;}
.slide-img-main{ position: absolute; right: 0; bottom: 0;}
.slide-img-main.var-1{ right: -120px;}

.hero-banner .slick-arrow{ transition: all 0.5s ease; width: 50px; height: 50px; background: #FFFFFF; box-shadow: 0px 13px 32px rgba(198, 198, 198, 0.45); border-radius: 50px; border: none; position: absolute; left: 25%; bottom: 40px; z-index: 99; font-size: 0px; color: #FFF;}
.hero-banner  .slick-arrow.slick-next{ left: inherit; right: 25%;}
.hero-banner .slick-arrow::after{ content: '\f104'; font-family: 'FontAwesome'; width: 50px; height: 50px; position: absolute; left: 0; top: 0; color: #C6C6C6; font-size: 38px; display: flex; align-items: center; justify-content: center;}
.hero-banner .slick-arrow.slick-next::after{ transform: translateX(2px) translateY(2px) rotate(180deg);;}
.hero-banner .slick-arrow:hover{ background: #E8C229;}
.hero-banner .slick-arrow:hover::after{ color: #FFF !important;}

.hero-banner .slick-dots { display: flex !important; align-items: center; justify-content: center; position: relative; z-index: 9; bottom: 100px;}
.hero-banner .slick-dots li{ position: relative; margin: 0 7px;}
.hero-banner .slick-dots li button{ border: none; width: 15px; height: 15px; background: #FFF; border-radius: 100%; text-indent: -9999px; position: relative;}
.hero-banner .slick-dots li.slick-active button{ background: #E8C229;}
.hero-banner .slick-dots li.slick-active button::after{ content: ''; position: absolute; left: -5px; top: -5px; width: 25px; height: 25px; border: 2px solid #E8C229; border-radius: 100%;} 


/*  */
h2.title{ padding: 0 0 20px 0; text-align: center; text-transform: uppercase; position: relative; font-weight: 700; font-size: 36px; color: #3F3F3F; position: relative;}
h2.title::after{ content: ''; position: absolute; left: 50%; bottom: 0; margin-left: -150px; width: 300px; height: 5px; background: url('./images/divide.png') no-repeat; background-size: cover;}
h2.title.left{ text-align: left;}
h2.title.left::after{ left: 0; margin-left: 0;}
h2.title.white{ color: #FFF;}
h2.title.white::after{ background: url('./images/divide-2.png') no-repeat;}
.brands{ margin-top: 60px;}
.brandSlide{ margin-top: 50px;}

/*  */
.why-us{ margin-top: 80px;}
.single-block{ height: 220px; background: #FFFFFF; border-top: 2px solid #796AB8; box-shadow: 0px 19px 26px rgba(210, 210, 210, 0.25); border-radius: 20px; padding: 25px; display: flex !important; align-items: center; transition: all 0.5s ease;}
.single-block:hover{ background: #f2f1f8; transform: scale(1.05) translateY(-5px);}
.single-block-icon{ width: 76px; height: 75px; background: #FFFFFF; box-shadow: 0px 10px 22px rgba(165, 165, 165, 0.15); border-radius: 100%; overflow: hidden; display: flex; align-items: center; justify-content: center;}
.single-block h3{ font-weight: 600; font-size: 20px; color: #3F3F3F; padding-top: 16px;}
.single-block p{ font-size: 14px; padding-top: 16px; min-height: 60px; color: #3F3F3F;}
.whyUsSlide .slick-list{ padding: 60px 0; overflow: inherit;}
.whyUsSlide .slick-slide{ padding: 0 15px;}
.tabNav{ flex-wrap: nowrap; margin: 0 -15px; margin-top: 60px; padding: 0 50px;}
.tabNav .nav-item{ width: 100%; min-height: 1px; padding-right: 15px; padding-left: 15px; -webkit-box-flex: 0; -ms-flex: 0 0 25%; flex: 0 0 25%; max-width: 25%;}
.tabNav .nav-link{ padding: 0;}
.tabNav .nav-link.active .single-block{ background: #f2f1f8;}
.tabCont{ background: #FBFBFB; border-radius: 24px; padding: 50px; padding-top: 160px; margin-top: -100px;}
.tabCont p{ padding-top: 25px;}
.tabCont h4{ padding-top: 25px; font-weight: 600;}


/* Products */
.products{ margin-top: 80px;}
.proNav-wrap{ width: 470px; height: 75px; background: #FBFBFB; border-radius: 10px; margin: 0 auto; margin-top: 40px; padding: 10px;}
.proNav-wrap .nav-link{ font-weight: 500; font-size: 22px; color: #3F3F3F; padding: 11px 0; text-transform: uppercase; text-align: center; border-radius: 10px;}
.proNav-wrap .nav-link.active{ background: linear-gradient(90deg, #E1C75C -1.39%, #C2A013 102.43%); color: #FFF;}

.products .slick-list{ padding: 55px 0;}
.products .slick-slide{ padding-left: 30px; padding-right: 30px;}
.product-single{ height: 450px; background: #FFFFFF; box-shadow: 0px 0px 15px rgba(219, 219, 219, 0.75); border-radius: 20px; padding: 25px; border: 1px solid #FFF; transition: all 0.5s ease;}
.product-single:hover{ background: #fcfaef; border: 1px solid #E1C75C; transform: translateY(-5px);}
.product-thumb{ text-align: center;}
.product-thumb img{ width: 315px; height: 250px; object-fit: cover; display: inline-block !important;}
.product-single h3{ font-weight: 700; font-size: 20px; color: #3F3F3F; padding-top: 25px; text-transform: uppercase;}
.product-single h6{ font-size: 14px; color: #C6C6C6; padding-top: 3px;}

.pro-bottom{ display: flex; justify-content: space-between; margin-top: 15px;}
.pro-bottom-left{ width: 175px;}
.pro-ratings{ display: flex; align-items: center;}
.pro-bottom-left .themeBtn{ font-size: 17px; height: 35px; padding-left: 0; padding-right: 0; width: 100%;}
.pro-ratings{ margin-bottom: 6px;}
.pro-ratings svg{ color: #E8C229; font-size: 20px; display: inline-block; transform: translateY(-3px);}
.pro-ratings span{ margin-left: 5px;}
.pro-ratings span:last-child{ color: #C6C6C6; font-weight: 300; margin: 0 0 0 18px;}
.pro-ratings span:first-child{ margin-left: 0;}
.pro-bottom-right .price{ font-weight: 500; font-size: 22px; text-align: right; text-decoration-line: line-through; color: #C6C6C6;}
.pro-bottom-right .discounted-price{ font-weight: 600; font-size: 28px; background: linear-gradient(180.05deg, #9D90D5 20.43%, #796AB8 87.56%); -webkit-background-clip: text;-webkit-text-fill-color: transparent; background-clip: text; text-fill-color: transparent; transform: translateY(-5px);}

.products .slick-arrow{ width: 50px; height: 50px; background: #FFFFFF; box-shadow: 0px 13px 32px rgba(198, 198, 198, 0.25); border-radius: 50px; border: none; position: absolute; left: -50px; top: 50%; margin-top: -25px; z-index: 99; font-size: 0px;}
.products  .slick-arrow.slick-next{ left: inherit; right: -50px;}
.products .slick-arrow::after{ content: '\f104'; font-family: 'FontAwesome'; width: 50px; height: 50px; position: absolute; left: 0; top: 0; color: #C6C6C6; font-size: 38px; display: flex; align-items: center; justify-content: center;}
.products .slick-arrow.slick-next::after{ transform: translateX(2px) translateY(2px) rotate(180deg);;}
.products .slick-arrow:hover{ background: #E8C229;}
.products .slick-arrow:hover::after{ color: #FFF !important;}


/* Reviews */
.reviews{ margin-top: 80px;}
.reviews h2.title{ margin-bottom: 60px;}
.reviews-single{ background: #FFFFFF; box-shadow: 0px 0px 15px rgba(219, 219, 219, 0.75); border-radius: 20px; margin-top: 30px; padding: 25px; display: flex;}
.reviews-left{ width: 125px; height: 125px; border-radius: 100%; filter: drop-shadow(0px 4px 19px rgba(179, 179, 179, 0.25)); background: #FFF; padding: 7px;}
.reviews-left img{ width: 111px; height: 111px; object-fit: cover; border-radius: 100%;}
.reviews-right{ width: calc(100% - 125px); padding-left: 30px; position: relative;}
.reviews-right h2{ font-size: 32px; font-weight: 600;}
.reviews-right p{ font-size: 22px; color: #3F3F3F; padding-top: 20px;}
.verified-buyer{ font-size: 22px; color: #A2A2A2; margin-top: 10px;}
.revBtn{ text-align: center; padding-top: 50px;}
.revBtn .themeBtn{ transform: translateX(-77px); font-weight: 500; font-size: 18px; min-width: 212px;}
.revTime{ position: absolute; right: 0; top: 0; font-size: 22px;}
.review-load{ margin-top: 50px; text-align: center;}


/* Footer */
.site-footer{ color: #FFF; width: 100%; background: url('./images/footer-bg.png') bottom center no-repeat; background-size: cover; margin-top: 60px;}
.site-footer .container{ max-width: 1400px; position: relative; height: 480px; padding-top: 60px;}
.footer-left-text{ padding: 100px 50px 0 0;}
.footer-support{ margin-top: 35px; display: flex; align-items: center; justify-content: space-between; width: 300px; height: 70px; background: rgba(255, 255, 255, 0.06); border-radius: 10px; padding: 0 15px; position: relative; transition: all 0.5s ease;}
.footer-support:hover{ transform: scale(1.05);}
.footer-support h6{ color: #E8C229; padding: 8px 0 0 0;}
.footer-support p{ font-weight: 300; font-size: 15px;}
.footer-nav-single h2{ font-size: 18px; text-transform: uppercase; position: relative; font-weight: 500; padding: 0 0 6px 0;}
.footer-nav-single h2::after{ content: ''; position: absolute; left: 0; bottom: 0; width: 75px; height: 2px; background: #E8C229;} 

.footer-right-nav{ padding-left: 100px; padding-top: 40px;}
.footer-nav-single ul{ padding-top: 20px;}
.footer-nav-single ul li{ margin-top: 10px;}
.footer-nav-single ul li a{ display: flex; align-items: center; color: #FFF; font-size: 15px; transition: all 0.5s ease;}
.footer-nav-single ul li a:hover{ color: #E8C229; padding-left: 5px;}

.footer-copy{ width: 720px; height: 50px; background: url('./images/copy.png') no-repeat; position: absolute; right: 0; bottom: 0; display: flex; align-items: center; justify-content: flex-end; padding-right: 30px; color: #3F3F3F; font-weight: 500;} 



/* Treatment page */
.treatment-wrap{ padding: 50px 0 0 0;}
.sec-head{ background: linear-gradient(90deg, rgba(255, 255, 255, 0.2) -1.39%, rgba(121, 106, 184, 0.2) 53.22%, rgba(255, 255, 255, 0.2) 102.43%); border-radius: 10px 10px 0px 0px; height: 75px; display: flex; align-items: center; justify-content: center; text-align: center; font-weight: 600; font-size: 28px; color: #DA4B4B; text-transform: uppercase;}
.sec-head span{ background: linear-gradient(180.05deg, #9D90D5 20.43%, #796AB8 87.56%); -webkit-background-clip: text; -webkit-text-fill-color: transparent; background-clip: text; text-fill-color: transparent;}

.text-block p{ font-size: 17px; padding-top: 25px; line-height: 28px;}

.product-single.treat{ height: auto; margin-bottom: 25px;}
.product-single.treat h3{ font-size: 22px; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 1;  -webkit-box-orient: vertical;}
.product-single.treat h6{ font-size: 18px; color: #3F3F3F;}
.product-single.treat .product-thumb{ width: 100%; height: 300px; overflow: hidden; border-radius: 10px;}
.product-single.treat .product-thumb img{ width: 100%; height: 300px;}
.product-single.treat .pro-bottom-right .price{ font-size: 18px; color: #3F3F3F; padding-bottom: 5px;}
.product-single h6.place{ color: #DF5656;}


/*  */
.slide-img-main.var-2{ bottom: 62px; right: -50px;}
.slide-img-main.var-3{ bottom: 180px;}
.slide-img-main.var-4{ bottom: 140px;}

.contact-left, .contact-right{ background: #FFFFFF; box-shadow: 0px 0px 15px rgba(219, 219, 219, 0.75); border-radius: 10px; padding: 25px;}
.inp-wrap{ margin-top: 18px;}
.inp-wrap label{ display: flex; font-size: 16px; color: #3E3E3E; padding-bottom: 8px;}
.inp{ width: 100%; border: 1px solid rgba(209, 206, 222, 0.62); border-radius: 10px; font-weight: 700; font-size: 22px; color: #3E3E3E; padding: 8px 15px;}
select.inp{ height: 50px; appearance: none; -webkit-appearance: none; background: url('./images/icons/select.png') right 15px center no-repeat #FFF;}
textarea.inp{ height: 150px;}
.inp-wrap .themeBtn{ min-width: 300px;}
.contact-map{ height: 475px; border-radius: 10px; overflow: hidden;}
.contact-map iframe{ display: block; width: 100%; height: 100%;}
.visit{ padding-top: 30px;}
.visit h3{ font-weight: 600;}
.visit-address{ display: flex; align-items: center; padding-top: 10px;}
.visit-address span{ display: inline-block; padding-left: 10px;}
.openHr{ padding-top: 30px;}
.openHr h5{ font-weight: 600; text-transform: uppercase; padding-bottom: 12px;}
.openHr ul li{ display: flex; align-items: center; justify-content: space-between; background: #F5F5F5; border-radius: 10px; height: 42px; margin-top: 5px; padding: 0 20px;}
.openHr ul li span{ font-size: 20px; font-weight: 600; color: #796AB8;}
.openHr ul li span + span{ color: #3F3F3F; font-weight: 400;}


/* FAQ */
.faq-wrap{ padding: 60px 0;}
.faq-block{ background: #FFFFFF; border-top: 3px solid #E1C75C; box-shadow: 0px 19px 62px rgba(219, 219, 219, 0.24); border-radius: 10px; padding: 30px; position: relative; height: 100%; padding-bottom: 70px;}
.faq-block:hover{ background: linear-gradient(0deg, rgba(225, 199, 92, 0.1), rgba(225, 199, 92, 0.1)), #FFFFFF;}
.faq-block h3{ font-size: 24px; font-weight: 600;}
.faq-block p{ font-size: 18px; line-height: 28px; color: rgba(63, 63, 63, 0.8); padding: 25px 0 0 0;}
.faq-block p a{ color: #796AB8;}
.faq-more{ position: absolute; right: 30px; bottom: 20px; margin: 0; padding: 0 !important;}
.faq-single{ margin-top: 25px;}
.faq-group{ margin-top: 80px;}
.faq-group > h2.title{ margin-bottom: 40px;}
.faq-group:first-child{ margin-top: 0;}

@media (max-width: 1199px) {
  .faq-block h3{ font-size: 18px;}
  .faq-block p{ font-size: 15px; padding-top: 10px; line-height: 24px;}
  .faq-block{ padding-bottom: 60px;}
  .slide-img-main.var-4{ width: 390px;}
}
@media (max-width: 1023px) {
  .slide-img-main.var-4{ width: auto; bottom: 0;}
  .faq-wrap{ padding-bottom: 0;}
}
/* FAQ */


/* header IN */
.logo-dark{ display: none; position: absolute; left: 0; top: 0;}
.header-in .site-header{ background: none;}
.header-in .header-wrap{ background: url('./images/header.png') top center no-repeat; height: 120px}
.header-in .header-main{ background: none;}
.header-in .logo{ display: none;}
.header-in .logo-dark{ display: block;}
.header-in .header-nav{ justify-content: center;}

@media (max-width: 1023px) {
  .header-in .header-wrap{ height: auto; background: none;}
  .header-in .header-main{ background: #6C5EA4;}
  .header-in .logo-dark{ display: none;}
}
/* header IN */


/* Discount */
.discount-group{ max-width: 1100px; margin: 0 auto;}
.discount-block{ background: #F5F5F5; border-radius: 10px; padding: 30px; display: flex; justify-content: space-between; margin-top: 25px;}
.discount-block:first-child{ margin-top: 0;}
.discount-block h2{ font-size: 24px; font-weight: 600; color: #263238; text-transform: uppercase;}
.discount-block p{ font-size: 22px; color: #3F3F3F; padding-top: 10px; font-weight: 300;}
.discount-left{ width: 92px; height: 92px; background: url('./images/icons/square.png') no-repeat; background-size: 100% 100%; display: flex; align-items: center; justify-content: center;}
.discount-right{ width: calc(100% - 92px); padding:0 0 0 25px;}
.disclaimer{ font-size: 22px; margin-top: 25px; display: flex; align-items: center;}
.disclaimer span{ padding-left: 15px;}
.text-block.big p{ font-size: 20px; font-weight: 300; color: #3F3F3F;}

@media (max-width: 1400px) {
  .discount-block p{ font-size: 20px;}
  .disclaimer{ font-size: 20px;}
}
@media (max-width: 1199px) {
  .header-in .container{ max-width: 100%;}
}
@media (max-width: 767px) {
  .discount-block{ display: block; padding: 15px;}
  .discount-right{ width: 100%; padding-left: 0; text-align: center;}
  .discount-left{ margin: 0 auto; margin-bottom: 25px;}
  .disclaimer{ display: block;}
  .discount-block p, .disclaimer{ font-size: 15px;}
  .text-block.big p{ font-size: 18px;}
  .discount-block h2{ font-size: 21px;}
}
/* Discount */


/* Career */
.list-job{ background: #FFFFFF; box-shadow: 0px 19px 62px rgba(219, 219, 219, 0.24); border-radius: 10px; padding: 50px;}
.list-job p{ padding: 30px 0 0 0; font-size: 18px; line-height: 28px;}
.career-block{ margin-top: 30px;}
.career-block .product-single{ text-align: center;}
.career-block .pro-bottom{ justify-content: center;}
@media (max-width: 767px) {
  .list-job{ padding: 20px;}
  .list-job p{ font-size: 15px; line-height: 24px;}
}
/* Career */ 


/* About */
.font-20{ font-size: 20px !important; line-height: 34px !important;}
.font-300{ font-weight: 300;}
.team-single{ position: relative; filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.25)); border-radius: 10px; margin-top: 50px;}
.team-photo{ height: 600px; border-radius: 10px; overflow: hidden;}
.team-photo img{ width: 100%; height: 100%; object-fit: cover;}
.team{ padding-top: 40px;}
.team-txt{ text-align: center; width: 430px; height: 100px; position: absolute; left: 50%; margin-left: -215px; bottom: 0; background: url('./images/team-txt.png') bottom center no-repeat; display: flex; align-items: center; justify-content: center; background-size: 100% 100%;}
.team-txt h5{ font-size: 32px; font-weight: 600; color: #E8C229; text-transform: uppercase;}
.team-txt h6{ font-size: 18px; color: #FFFFFF; font-weight: 300;}
.build{ margin-top: 50px; background: linear-gradient(180.05deg, #9D90D5 20.43%, #796AB8 87.56%); border-radius: 10px; padding: 50px; color: #FFF;}
.video-sec{ max-width: 750px; margin: 0 auto; border-radius: 20px; overflow: hidden; position: relative; margin-top: 50px;}
.video-txt{ margin-top: 50px; position: relative;}
.video-txt::after{ content: ''; width: 2px; height: 100%; position: absolute; left: 50%; margin-left: -1px; top: 0; background: #FFF; opacity: 0.5;}
.video-txt h3{ font-size: 28px; text-transform: uppercase; font-weight: 600;}
.video-txt p{ font-size: 18px; font-weight: 300; padding-top: 30px;}
.video-txt-left{ text-align: right; padding-right: 20px;}
.video-txt-right{ padding-left: 20px;}

@media (max-width: 1350px) {
  .team-txt h5{ font-size: 26px;}
  .team-txt h6{ font-size: 16px;}
  .video-txt h3{ font-size: 24px;}
  .font-20{ font-size: 18px !important; line-height: 32px !important;}
  .team-photo{ height: 445px;}
}
@media (max-width: 1023px) {
  .team-txt{ width: 340px; height: 74px; margin-left: -170px;}
  .team-txt h5{ font-size: 20px;}
  .team-photo{ height: 350px;}
  .video-txt p{ font-size: 16px; padding-top: 15px;}
}
@media (max-width: 767px) {
  .font-20 { font-size: 16px !important; line-height: 28px !important;}
  .team-txt{ width: 290px; height: 50px; margin-left: -145px;}
  .team-single{ overflow: hidden;}
  .team-txt h5{ font-size: 16px;}
  .team-txt h6{ font-size: 13px;}
  .team-single{ margin-top: 25px;}
  .team-photo{ height: 290px;}
  .build{ padding: 15px; margin-top: 25px;}
  .video-txt::after{ opacity: 0;}
  .video-txt-left{ padding: 0; text-align: center;}
  .video-txt-right{ padding: 0; text-align: center; padding-top: 25px; margin-top: 25px; border-top: 1px solid rgba(255,255,255,0.5);}
  .video-txt{ margin-top: 25px;}
}
/* About */


/* Product View */
.product-view{ margin-top: 40px;}
.product-slide{ background: rgba(198, 198, 198, 0.15); border-radius: 20px; position: relative; margin-right: -35px;}
.product-slider-single{ height: 550px; display: flex !important; align-items:flex-end; justify-content: center;}
.product-slide .slick-slide img{ display: inline-block;}
.slide-dots{ width: 40px; height: 263px; position: absolute; top: 50%; margin-top: -132px; right: -40px; background: url('./images/slide-dots.png') no-repeat; background-size: 100% 100%;}

.product-slide .slick-dots { display: flex !important; align-items: center; justify-content: center; position: absolute; width: 30px; height: 100%; right: -30px; top: 0; z-index: 9; flex-direction: column;}
.product-slide .slick-dots li{ position: relative; margin: 0 0;}
.product-slide .slick-dots li button{ border: none; width: 15px; height: 15px; background: #E4E4E4; border-radius: 100%; text-indent: -9999px; position: relative;}
.product-slide .slick-dots li.slick-active button{ background: #E8C229;}
.product-slide .slick-dots li.slick-active button::after{ content: ''; position: absolute; left: -5px; top: -5px; width: 25px; height: 25px; border: 2px solid #E8C229; border-radius: 100%;}

.product-single-top{ display: flex; align-items: flex-end; justify-content: space-between;}

.product-view-right{ padding-left: 80px;}
.product-view-right .product-single{ margin: 0; padding: 0; background: none; border: none; border-radius: 0; box-shadow: none; height: auto;}
.product-view-right .product-single:hover{ background: none; border: none; transform: none;}
.product-view-top{ background: #FFFFFF; box-shadow: 0px 19px 62px rgba(219, 219, 219, 0.24); border-radius: 10px; padding: 30px;}
.product-view-right .product-single h3{ font-size: 36px; padding: 0; font-weight: 700;}
.product-view-right .product-single h6{ color: #C6C6C6; font-size: 21px; text-transform: uppercase; font-weight: 700;}

.product-single-bottom{ display: flex; align-items: center; justify-content: space-between; margin: 10px 0 0 0;}
.product-single-bottom-right{ width: 250px;}
.product-single-bottom-right .themeBtn{ width: 100%;}
.product-single-bottom-left{ display: flex; align-items: center;}
.product-single-bottom-left label{ font-size: 16px; margin: 0 15px 0 0; padding: 0; font-weight: 600; text-transform: uppercase;}
.qty-box{ position: relative; width: 190px; height: 50px; background: #FFFFFF; border: 1px solid #D6D6D6; border-radius: 35px; display: flex; align-items: center; justify-content: space-between;}
.qty-icon{ width: 50px; height: 50px; display: flex; align-items: center; justify-content: center; cursor: pointer; color: rgba(63, 63, 63, 0.5); font-size: 20px;}
.qty-input{ width: calc(100% - 100px);}
.qty-input input{ width: 100%; border: none; height: 46px; text-align: center; font-size: 20px;}

.product-view-top h4{ font-weight: 600; padding-top: 30px;}
.product-view-top h4:first-child{ padding-top: 0;}
.product-view-top p{ padding: 15px 0 0 0; font-size: 20px; font-weight: 300; color: #3F3F3F; overflow: hidden; text-overflow: ellipsis; display: -webkit-box;-webkit-line-clamp: 2;  -webkit-box-orient: vertical;}

.wRev{ margin-top: 25px;}
.revNav-wrap{ display: flex; align-items: center; justify-content: space-between; background: #FFFFFF; box-shadow: 0px 19px 62px rgba(219, 219, 219, 0.24); border-radius: 10px; height: 75px; padding: 0 30px;}
.revNav .nav-item{ margin-left: 60px;}
.revNav .nav-item:first-child{ margin-left: 0;}
.revNav .nav-link{ font-size: 24px; color: #3F3F3F; height: 75px; position: relative; display: flex; align-items: center; padding: 0;}
.revNav .nav-link.active{ color: #796AB8; font-weight: 600;}
.revNav .nav-link.active::after{ content: ''; position: absolute; left: 0; bottom: 0; width: 100%; height: 3px; background: #796AB8;}
.revTab .revBtn{ display: none;}
.revTab .reviews-single{ box-shadow: 0px 15px 24px rgba(214, 214, 214, 0.25);}

@media (max-width: 1199px) {
  .product-view-right .product-single h3{ font-size: 30px;}
  .product-view-right .product-single h6{ font-size: 18px;}
  .qty-box{ width: 120px;}
  .product-single-bottom-right{ width: 178px;}
  .product-slide .slick-slide img{ max-height: 400px;}
}
@media (max-width: 1023px) {
  .product-slide{ margin-right: 0;}
  .product-view-right{ padding-left: 0; margin-top: 30px;}
  .product-slider-single{ height: 430px;}
  .slide-dots{ width: 263px; height: 40px; right: inherit; top: inherit; margin-top: 0; left: 50%; margin-left: -132px; bottom: -40px; background: url('./images/slide-dots-2.png') bottom center no-repeat;}
  .product-slide .slick-dots{ width: 100%; height: auto; right: inherit; top: inherit; left: 0; bottom: -35px; flex-direction: row;}
  .product-slide .slick-dots li{ margin: 0 5px;}
  .product-view-right{ padding-top: 40px;}
}

@media (max-width: 767px) {
  .product-slide .slick-slide img{ max-height: 300px;}
  .product-slider-single{ height: 350px;}
  .product-view-top{ padding: 20px;}
  .product-view-right .product-single h3{ font-size: 18px;}
  .product-view-right .product-single h6{ font-size: 12px;}
  .product-single-bottom{ display: block;}
  .qty-box{ width: calc(100% - 50px);}
  .product-single-bottom-right{ width: 100%; margin-top: 15px;}
  .product-single-bottom-left label{ font-size: 13px;}
  .product-view-top p{ font-size: 16px;}
  .revNav-wrap{ padding: 0; display: block; height: auto;}
  .revNav-wrap .themeBtn{ width: 100%;}
  .revNav .nav-link{ font-size: 18px; justify-content: center;}
  .revNav .nav-item{ margin: 0; flex: 1 1 auto; text-align: center;}
  .revNav{ margin-bottom: 10px;}
}
/* Product View */


/* Partners */
.partners-single{ text-align: center; height: auto !important; margin-bottom: 25px;}
.partners-single h6{ font-size: 18px !important; color: #3F3F3F;}
.partners-single h3{ font-size: 22px !important;}
.partners-single .pro-bottom{ justify-content: center;}
.partners-single .product-thumb{ height: 300px; display: flex; align-items: center; justify-content: center;}
.partners-single .product-thumb img{ width: auto; height: auto; max-height: 300px;}

@media (max-width: 1350px) {
  .partners-single .product-thumb{ height: 200px;}
}
@media (max-width: 767px) {
  .partners-single .pro-bottom-left{ width: 100% !important; text-align: center;}
  .partners-single .pro-ratings{ justify-content: center; margin-bottom: 10px;}
  .partners-single .pro-bottom-left .themeBtn{ height: 50px; font-size: 18px;}
  .partners-single .pro-ratings svg{ font-size: 22px;}
  .partners-single .pro-ratings span:last-child{ font-size: 18px;}
  .partners-single .product-thumb{ height: 170px;}
  .partners-single .product-thumb img{ max-height: 170px;}
}
/* Partners */


/* Policies */
.terms-content{ background: #FFFFFF; box-shadow: 0px 19px 62px rgba(219, 219, 219, 0.24); border-radius: 10px; padding: 50px; margin-top: 30px; color: #3F3F3F;}
.terms-content h2{ font-weight: 600; font-size: 36px; color: #3F3F3F; text-transform: uppercase;}
.terms-content h3{ font-weight: 600; text-transform: uppercase; padding: 45px 0 0 0;}
.terms-content p{ font-size: 20px; padding: 20px 0 0 0;}

@media (max-width: 1599px) {
  .revNav.scrollable  .nav-link{ font-size: 20px;}
  .terms-content h2{ font-size: 27px;}
  .terms-content h3{ font-size: 22px;}
  .terms-content p{ font-size: 18px;}
}
@media (max-width: 767px) {
  .terms-content{ padding: 25px;}
  .revNav.scrollable{ white-space: nowrap; overflow-y: hidden; overflow-x: auto; flex-wrap: nowrap;}
  .revNav.scrollable .nav-item{ margin-left: 45px;}
  .revNav.scrollable .nav-item:first-child{ margin-left: 0;}
  .for-policies .revNav-wrap{ margin-top: 0 !important;}

  .revNav.scrollable::-webkit-scrollbar { display: none;}
  .revNav.scrollable { -ms-overflow-style: none; scrollbar-width: none; }
}
/* Policies */


/* How to Order */
.order-process{ background: #FFFFFF; box-shadow: 0px 19px 62px rgba(219, 219, 219, 0.24); border-radius: 10px; padding: 30px; margin-top: 40px;}
.order-process-top{ padding-left: 80px; padding-right: 80px;}
.order-process-top p{ font-size: 20px; line-height: 30px; font-weight: 300; color: #3F3F3F; padding: 30px 0 0 0;}
.order-steps{ margin-top: 40px;}
.order-steps-single{ display: flex; align-items: center; justify-content: flex-start; margin: 15px 0;}
.order-steps-single-in{ -webkit-box-flex: 0; -ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%; display: flex; align-items: center; position: relative;}
.order-steps-single-in::after{ content: ''; position: absolute; right: -3px; top: 70px; width: 5px; height: 50px; background: #796AB8; border-radius: 5px; transform: rotate(-45deg);}
.order-steps-icon{ width: 90px; height: 90px; background: url('./images/icons/square.png') no-repeat; background-size: 100% 100%; display: flex; align-items: center; justify-content: center;}
.order-steps-text{ width: calc(100% - 90px); padding-left: 25px;}

.order-steps-single:nth-child(odd) .order-steps-icon{ order: 2;}
.order-steps-single:nth-child(odd) .order-steps-text{ order: 1; padding-left: 0; padding-right: 25px; text-align: right;}
.order-steps-single:nth-child(even){ justify-content: flex-end;}

.order-steps-single:nth-child(even) .order-steps-single-in::after{ right: inherit; left: -3px; transform: rotate(45deg);}
.order-steps-single:last-child .order-steps-single-in::after{ opacity: 0;}

.order-steps-text h3{ font-size: 24px; color: #263238; font-weight: 600;}
.order-steps-text p{ font-size: 19px; color: #3F3F3F; font-weight: 300; line-height: 24px;}
.order-steps-text p strong{ font-weight: 600;}
.order-steps-text p span{ color: #796AB8; font-weight: 600; text-transform: uppercase;}

@media (max-width: 1350px) {
  .order-steps-text p{ font-size: 16px;}
  .order-steps-text h3{ font-size: 21px;}
}
@media (max-width: 1199px) {
  .order-process-top{ padding-left: 0; padding-right: 0;}
}
@media (max-width: 1023px) {
  .order-steps-single-in{ flex: 0 0 100%; max-width: 100%;}
  .order-steps-single:nth-child(odd) .order-steps-icon{ order: 1;}
  .order-steps-single:nth-child(odd) .order-steps-text{ order: 2; text-align: left; padding-right: 0; padding-left: 25px;}
  .order-steps-single-in::after{ transform: none; right: inherit; left: 42px;}
  .order-steps-single:nth-child(even) .order-steps-single-in::after{ transform: none; left: 42px;}
  .order-steps-single{ margin: 30px 0;}
}
@media (max-width: 767px) {
  .order-steps-single-in{ display: block;}
  .order-steps-text{ width: 100%; padding: 0 !important;}
  .order-steps-single-in{ text-align: center !important;}
  .order-steps-single:nth-child(odd) .order-steps-text{ text-align: center;}
  .order-steps-icon{ margin: 0 auto; margin-bottom: 60px;}
  .order-steps-single-in::after{ left: 50%; margin-left: -2px;}
  .order-steps-single:nth-child(even) .order-steps-single-in::after{ left: 50%; margin-left: -2px;}
  .order-steps-single-in::after{ top: 96px;}
  .order-steps-single:last-child .order-steps-single-in::after{ opacity: 1;}
}
/* How to Order */


/* Job View */
.job-slide{ border-radius: 20px; overflow: hidden; position: relative; margin-right: -80px;}
.job-slide::after{ content: ''; position: absolute; right: 0; top: 0; width: 111px; height: 100%; background: linear-gradient(270deg, rgba(0, 0, 0, 0.76) 0%, rgba(0, 0, 0, 0) 100%);}
.job-slide .slide-dots{ width: 42px; height: 550px; background: url('./images/slide-shape.png') no-repeat; right: 0 !important; top: 0 !important; margin-top: 0; z-index: 1;}
.job-slide .slick-slide img{ width: 100% !important; height: 100% !important; max-height: 100% !important; object-fit: cover;}
.job-slide .slick-dots{ right: 5px;}

.responsibilities{ margin-top: 40px;}
.responsibilities-main{ background: #FFFFFF; box-shadow: 0px 19px 62px rgba(219, 219, 219, 0.24); border-radius: 10px; padding: 40px;}
.responsibilities ul{ padding-top: 15px;}
.responsibilities ul li{ font-size: 19px; font-weight: 300; color: #3F3F3F; margin-top: 8px;}
.responsibilities h3{ font-weight: 600; font-size: 22px;}
.contactIn{ max-width: 800px; margin: 0 auto;}
.cv-field{ display: flex; align-items: center;}
.customUp{ position: relative;}
.customUp input[type="file"]{ position: absolute; left: 0; top: 0; width: 100%; height: 100%; opacity: 0;}
.cv-field label{ font-size: 22px; color: #3E3E3E; font-weight: 600; padding-left: 15px;}

.job-desc{ padding-left: 80px;}
.job-desc-single{ background: #FFFFFF; box-shadow: 0px 19px 62px rgba(219, 219, 219, 0.24); border-radius: 10px; padding: 30px;}
.job-desc-single h2{ font-size: 36px; font-weight: 600; color: #3F3F3F; text-transform: uppercase;}
.job-desc-single h3{ color: #C6C6C6; text-transform: uppercase; font-size: 24px; font-weight: 600;}
.job-desc-single h4{ font-weight: 600;}
.job-desc-single p{ font-size: 18px; font-weight: 300; color: #3F3F3F; padding: 15px 0 0 0;}
.job-desc-single ul{ padding-top: 10px;}
.job-desc-single ul li{ font-size: 18px; font-weight: 300; color: #3F3F3F;}

@media (max-width: 1350px) {
  .job-desc-single h2{ font-size: 30px;}
  .job-desc-single h3{ font-size: 17px;}
}
@media (max-width: 1023px) {
  .job-slide{ margin-right: 0;}
  .job-desc{ padding: 0; margin-top: 30px;}
  .job-slide .slide-dots{ margin-left: 0 !important; right: inherit !important; top: inherit !important; left: 0; bottom: 0; width: 100%; height: 42px; background: url('./images/slide-shape-2.png') bottom center no-repeat; background-size: 100% 100%;}
  .job-slide .slick-dots{ bottom: 6px !important;}
  .job-slide::after{ width: 100%; height: 111px; top: inherit; bottom: 0; background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.80) 100%);}
}
@media (max-width: 767px) {
  .job-slide .slide-dots{ background-size: auto;}
  .job-desc-single{ padding: 15px;}
  .responsibilities-main{ padding: 15px;}
  .job-desc-single h2{ font-size: 23px;}
  .job-desc-single h3{ font-size: 15px;}
}
/* Job View */


@media (max-width: 1599px) {
 .site-footer .container{ max-width: 1300px;}
 .slide-in-img{ width: 180px;}
}

@media (max-width: 1400px) {
  .container{ max-width: 1250px;}
  .site-footer .container{ max-width: 1250px;}
  .slide-txt h2{ font-size: 60px; line-height: 60px;}
  .slide-btn a{ font-size: 16px;}
  h2.title{ font-size: 30px;}
  .tabNav .nav-item{ padding-left: 10px; padding-right: 10px;}
  .tabNav{ padding: 0 42px;}
  .themeBtn{ font-size: 18px;}
  .proNav-wrap .nav-link{ font-size: 18px; height: 54px; display: flex; align-items: center; justify-content: center;}
  .reviews-right h2{ font-size: 30px;}
}

@media (max-width: 1350px) {
  .container{ max-width: 1100px;}
  .site-footer .container{ max-width: 1100px;}
  .pro-bottom-right .discounted-price{ font-size: 20px;}
  .pro-bottom-right .price{ font-size: 18px;}
  .footer-logo{ width: 300px;}
  .footer-right-nav{ padding-left: 50px;}

  .product-single.treat h3{ font-size: 17px;}
  .product-single.treat h6{ font-size: 15px;}
}

@media (max-width: 1199px) {
  .container{ max-width: 950px;}
  .site-footer .container{ max-width: 950px;}
  .hero-banner, .slide-img,  .slide-txt{ height: 500px;}
  .slide-txt h2{ font-size: 50px; line-height: 50px;}
  .slide-btn{ margin-top: 20px;}
  .header-email span{ margin-left: 5px;}
  .header-phone span{ margin-left: 5px;}
  .star{ font-size: 20px;}
  .products .slick-slide{ padding-left: 15px; padding-right: 15px;}
  .pro-bottom-left{ width: 130px;}
  .pro-ratings svg{ font-size: 16px;}
  .pro-ratings span:last-child{ margin-left: 6px;}
  .pro-ratings span{ margin-left: 2px;}
  .footer-right-nav{ padding-left: 15px;}
  .footer-logo{ width: 230px; margin: 20px 0 0 0;}
  .footer-nav-single h2{ font-size: 17px;}
  .footer-support{ width: 250px;}
  .tabNav .nav-item{ flex: 0 0 33%; max-width: 33%;}
  .tabNav{ overflow: auto; padding-bottom: 40px;}

  .slide-in-img{ margin: 0 auto !important; margin-top: 30px !important;}
  .single-block:hover { transform: none;}
  .slide-img-main.var-3{ max-width: 500px;}
}

@media (max-width: 1023px) {
    body{ padding-top: 55px;}
    .header-nav{ background: linear-gradient(180deg, #9686DA 0%, #796AB8 125.28%); position: fixed; width: 100%; height: calc(100vh - 55px); left: -100%; top: 55px; margin: 0; z-index: 999; display: block; transition: all 0.5s ease;}
    .header-nav.act{ left: 0;}
    .header-nav .logo{ display: none;}
    .header-nav .header-ratings{ display: flex; background: #7F73B1; height: 40px; padding: 0 5px;}
    .header-ratings p{ color: #FFF;}
    .header-ratings img{ width: 35px;}
    .star span{ margin-left: 4px;}
    .header-ratings p{ font-size: 14px;}
    .star{ padding-right: 10px;}

    .header-main{ position: fixed; width: 100%; height: 55px; left: 0; top: 0; background: #6C5EA4; z-index: 999; border-radius: 0;}
    .header-main .header-ratings{ display: none;}
    .header-main .header-email{ display: none;}
    .header-main .header-phone{ display: none;}

    .site-nav ul{ padding-top: 15px;}
    .site-nav ul li{ display: block; margin: 15px 0 0 0;}
    .site-nav ul li a{ display: block; width: 100%; text-align: center; font-size: 18px;}

    .header-phone{ margin: 0;}
    .header-contact{ justify-content: space-between; background: #6C5EA4; height: 34px; }
    .header-email span{ font-size: 17px; transform: none; margin-left: 0; margin-right: 5px;}
    .header-phone span{ font-size: 19px; transform: none;}
    .header-phone a{ font-size: 13px;}
    .header-email a{ font-size: 13px;}

    .header-cart::after{ opacity: 0;}
    .header-cart{ margin: 0 15px 0 0; padding: 0;}
    .header-main{ padding: 0 15px;}
    .header-contact{ padding: 0;}
    .header-nav .header-contact{ padding: 0 10px;}

    .mobClick{ display: block;}
    .hero-banner::after{ display: none;}
    .logo-sm{ display: block;}

    .slide-txt{ text-align: center;}
    .slide-btn{ display: block; width: 250px; margin: 0 auto; margin-top: 40px;}
    .slide-btn a{ width: 100%; height: 44px;}
    .slide-btn a.dark{ margin: 30px 0 0 0;}
    .slide-txt h2{ font-size: 45px; line-height: 45px;}

    .slide-img-main.mob{ display: block;}
    .slide-img-main.desk{ display: none;}
    .slide-img-main.var-1{ right: 0;}
    
    .slide-txt p{ padding-top: 40px;}

    .hero-banner .slick-arrow{ width: 25px; height: 25px; left: 15px;}
    .hero-banner .slick-arrow.slick-next{ right: 15px;}
    .hero-banner .slick-arrow::after{ width: 25px; height: 25px; font-size: 18px;}
    .hero-banner .slick-arrow.slick-next::after{ transform: translateX(0) translateY(0) rotate(180deg);}
    .hero-banner .slick-dots{ bottom: 40px;}
    .slide-btn a{ font-size: 14px;}

    h2.title{ font-size: 28px;}
    .slide-txt{ padding-left: 50px; padding-right: 50px;}

    .brandSlide{ margin-top: 20px;}
    .brand-single{ text-align: center; display: none;}
    .brand-single:nth-child(1), .brand-single:nth-child(2), .brand-single:nth-child(3){ display: block;}
    .tabNav .nav-item{ flex: 0 0 45%; max-width: 45%;}
    .tabCont-left img{ width: 100%;}
    .tabCont-right{ padding-top: 50px;}

    .site-footer{ height: auto; background: #3F3F3F; border-top: 5px solid #E8C229; padding-top: 30px;}
    .site-footer .container{ height: auto; padding-top: 0;}
    .footer-logo{ width: 100%; margin: 0; padding: 0; text-align: center;}
    .footer-left-text{ padding: 25px 0 0 0; text-align: center;}
    .footer-support{ width: 100%; margin: 25px 0 0 0;}

    .footer-copy{ position: static; background: linear-gradient(90deg, #E1C75C -1.39%, #C2A013 102.43%); height: 50px; margin: 0; padding: 0; text-align: center; width: auto; margin: 0 -15px; margin-top: 30px; justify-content: center;}

    .single-block:hover{ transform: none;}
    .slide-img-main.var-3{ bottom: 10px;}
    .contact-right{ margin-top: 30px;}
     
}

@media (max-width: 767px) {
    .slide-txt .align-items-center{ align-items: flex-start !important;}
    .hero-banner, .slide-img, .slide-txt{ height: calc(100dvh - 55px);}
    .slide-txt{ padding: 50px 0 0 0;}
    .tabNav{ padding: 0px 20px 30px 20px; margin-top: 30px;}
    .why-us .container{ padding: 0;}
    .tabNav .nav-item { flex: 0 0 80%; max-width: 80%; }
    .single-block p{ padding-top: 10px;}
    .tabCont{ padding-top: 90px; padding-left: 15px; padding-right: 15px; padding-bottom: 30px;}

    .hero-banner{ border-bottom: 5px solid #E5E2F1;}
    .slide-img-main{ bottom: 5px;}

    h2.title.left{ text-align: center;}
    h2.title.left::after, h2.title::after{ width: 100%; left: 50%; margin-left: -50%;}
    .proNav-wrap{ width: 100%;}
    .products .slick-slide{ padding-left: 10px; padding-right: 10px;}
    .trtLink{ text-align: center;}
    /* .why-us h2.title{ margin-left: 15px; margin-right: 15px;} */
    .product-single{ height: 280px; padding: 15px;}
    .product-thumb img{ width: 147px; height: 114px;}
    .product-single h3{ font-size: 14px;}
    .proNav-wrap .nav-link{ font-size: 15px;}
    .pro-bottom-right .price{ font-size: 12px;}
    .pro-bottom-right .discounted-price{ font-size: 15px;}
    .pro-bottom-left{ width: 110px;}
    .pro-bottom-left .themeBtn{ font-size: 12px; height: 26px;}
    .pro-ratings svg{ font-size: 13px;}
    .pro-ratings span:last-child{ font-size: 12px;}
    .pro-ratings{ margin-bottom: 0;}

    .reviews-single{ display: block;}
    .reviews-left{ margin: 0 auto;}
    .reviews-right{ width: 100%; margin: 0; padding: 30px 0 0 0;}
    .reviews-right h2{ text-align: center; font-size: 26px;}
    .revTime{ font-size: 15px; top: -130px;}
    .reviews-right p{ font-size: 16px;}
    .revBtn .themeBtn{ transform: none;}
    .revBtn{ padding-top: 15px;}
    .themeBtn{ font-size: 18px;}
    .reviews h2.title{ margin-bottom: 0;}
    .verified-buyer{ font-size: 18px;}

    .reviews-right .pro-ratings svg{ font-size: 20px;}
    .reviews-right .pro-ratings span:last-child{ font-size: 16px;}
    .revBtn .themeBtn{ width: 100%;}
    .footer-support{ text-align: left;}
    .footer-right-nav{ padding: 0;}
    .footer-nav-single{ margin-top: 30px;}

    .footer-right-nav .col-sm-4:last-child{ order: 1; display: flex;}
    .footer-right-nav .col-sm-4:first-child{ order: 2; display: flex;}
    .footer-right-nav .col-sm-4:nth-child(2){ order: 3; display: flex;}
    .footer-copy{ font-size: 13px;}
    .reviews{ margin-top: 0;}
    .products .slick-list{ padding-top: 30px; overflow: unset;}
    .proNav-wrap{ background: #F6F6F6;}
    .products{ margin-top: 50px;}
    .footer-nav-single ul{ padding-top: 5px;}
    .products .slick-arrow{ display: none !important;}

    .brands{ margin-top: 50px;}
    .single-block{ padding: 15px;}
    .single-block p{ font-size: 12px;}
    .single-block h3{ font-size: 18px;}
    .proNav-wrap .nav-link{ background: #FFF; color: #796AB8;}
    .proNav-wrap .nav-link{ margin: 0 5px; width: auto !important;}
    .footer-left-text{ text-align: left;}
    .footer-support h6{ font-size: 18px;}
    .footer-nav-single h2{ font-weight: 600;}
    .reviews-right p{ font-size: 14px;}

    .products .tab-content{ margin-left: -15px; margin-right: -15px; padding-left: 10px; padding-right: 10px;}
    .slide-txt p{ font-size: 15px;}

    .sec-head{ font-size: 22px;}
    .slide-img-main.var-2{ right: 0;}
    .tabCont{ background: #f5f5f5; border-radius: 0;}
    .slide-img-main.var-3{ bottom: 10px;}
    .contact-map{ height: 270px;}

    .why-us h2.title{ margin-left: 15px; margin-right: 15px;}
    .tabCont-right h2.title{ margin-left: 0; margin-right: 0;}
    .treatment-wrap.mt-3{ padding: 0 !important;}
    .contact-left, .contact-right{ padding: 15px;}
    .inp-wrap .themeBtn{ min-width: 100%;}
    .openHr ul li span{ font-size: 16px;}
}